h1 {
    font-size: 3em;
    text-align: center;
}

table, td {
    border: 5px solid black;
}

table {
    background: rgb(131,58,180);
    background: linear-gradient(135deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%); 
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
}

header {
    display: flex;
    justify-content: space-around;
}

header div {
    text-align: center;
    font-size: 1.5em;
}

header h3 {
    margin: 0;
    font-size: 1.5em;
    text-align: center;
    flex-grow: 8;
}

.settings {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #5a5a5a;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
}

.settings * {
    display: block;
    transition: 0.3s;
}

.settings div {
    text-align: center;
    padding: 8px 8px 8px 8px;
    text-decoration: none;
    font-size: 23px;
    color: #ffffff;
    display: flex;
    justify-content: space-around;
}

.settings a {
    text-align: center;
    padding: 8px 8px 8px 8px;
    text-decoration: none;
    font-size: 23px;
    color: #ffffff;
    display: block;
}

#bingo-size:hover {
    opacity: 1;
}

#bingo-size {
    -webkit-appearance: none;
    appearance: none;
    height: 30px;
    width: 50px;
    background: #d3d3d3;
    outline: none;
    margin: 0;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

td {
    background-color: white;
    padding: 5px;
    height: 150px;
    width: 150px;
    text-overflow: ellipsis;
    text-align: center;
}

td:hover {
    background-color: lightgray;
}

td:active {
    background-color: gray;
}

.ticked {
    background-color: rgba(255, 255, 255, 0.2);
}